.animacion-link{
    text-decoration: none;
    color: black;
    transition: color 0.3s;

}

.animacion-link:hover{

    color: #e79eff;

}

.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.fade {
    opacity: 100;
    transition: opacity 0.5s ease-in-out;
}