{% extends 'loginRegistro/loginRegistro.html' %}

{% block content %} 
<div class="card bg-glass">
    <div class="text-center">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(0, 0%, 100%)">
            <span style="color: #e79eff">Registro</span>
        </h1>
    </div>
    <div class="card-body px-4 py-2 px-md-5">
        
        <form action="" method="post">

            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        {{form.nombre}}
                        <label class="form-label" for="nombrePersona">Nombre</label>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        {{form.apellido}}
                        <label class="form-label" for="apellidoPersona">Apellido</label>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        {{form.celular}}
                        <label class="form-label" for="apellidoPersona">Celular</label>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        {{form.direccion}}
                        <label class="form-label" for="apellidoPersona">Direccion</label>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        {{form.email}}
                        <label class="form-label" for="correoElectronico">Correo Electronico</label>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline mb-4">
                        {{form.password}}
                        <label class="form-label" for="password">Contraseña</label>
                    </div>
                </div>
            </div>

            <!-- Email input -->

            <!-- Submit button -->
            <div class="text-center">
                <button type="submit" id="registrar" class="btn btn-primary btn-block mb-4">
                    Registrar
                </button>
            </div>
            <div class="">
                <p>¿Ya tienes una cuenta? <a id="volverLogin" href="{% url 'login' %}"
                        class="animacion-link">Puedes ingresar aqui</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}