.background-radial-gradient {
    background-color: hsl(240, 1%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
            hsl(210, 1%, 46%) 15%,
            hsl(210, 1%, 39%) 35%,
            hsl(240, 1%, 25%) 75%,
            hsl(0, 1%, 25%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(210, 1%, 46%) 15%,
            hsl(210, 1%, 39%) 35%,
            hsl(240, 1%, 25%) 75%,
            hsl(0, 1%, 25%) 80%,
            transparent 100%);
}

#radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#323133, #efe8f3);
    overflow: hidden;
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#323133, #efe8f3);
    overflow: hidden;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}
