{% extends 'loginRegistro/loginRegistro.html' %}

{% block content %} 
<div class="card bg-glass">
    <div class="text-center">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(0, 0%, 100%)">
            <span style="color: #e79eff">Registro</span>
        </h1>
    </div>
    <div class="card-body px-4 py-2 px-md-5">
        
        <form action="" method="post">

            {% csrf_token %}
            {{ form.password2.errors }}
            {{ form.celular.errors }}
            {{ form.email.errors }}
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="nombrePersona">Nombre</label>
                        {{form.nombre}}
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="apellidoPersona">Apellido</label>
                        {{form.apellido}}
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="apellidoPersona">Celular</label>
                        {{form.celular}}
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="apellidoPersona">Direccion</label>
                        {{form.direccion}}
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="correoElectronico">Correo Electronico</label>
                        {{form.email}}
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password1">Contraseña</label>
                        {{form.password1}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password2">Confirmar Contraseña</label>
                        {{form.password2}}
                    </div>
                </div>
            </div>
            

            <div class="text-center">
                <button type="submit" id="registrar" class="btn btn-success btn-block mb-4">
                    Registrar
                </button>
            </div>
            <div class="">
                <p>¿Ya tienes una cuenta? <a id="volverLogin" href="{% url 'login' %}"
                        class="animacion-link">Puedes ingresar aqui</a></p>
            </div>
        </form>
    </div>
</div>
{% if mensaje %}
    <div id = "mensajeAlertas" class="alert alert-danger" role="alert">
        {{mensaje}}
    </div>
{% endif %}
{% endblock %}