{% extends 'home/navBar.html' %}

{% block content %}
{% load static %}
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-4 col-lg-4 order-lg-last">
                        <img class="img-fluid" src="{% static './img/fresas.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>VeTa</b> Artesanias</h1>
                            <h3 class="h2">Artesanía en Cada Detalle</h3>
                            <p>
                                En el corazón de nuestro taller, donde la creatividad y la pasión se entrelazan, nacen
                                los accesorios que dan vida a tus momentos especiales. Cada pieza es una obra de arte,
                                moldeada con esmero y amor, y llena de la riqueza de la artesanía. En cada detalle,
                                encontrarás la autenticidad y la dedicación de nuestras manos artesanas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-4 col-lg-4 order-lg-last">
                        <img class="img-fluid" src="{% static './img/walle.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Cada Pieza, una Historia por Contar</h1>
                            <p>
                                Nuestros accesorios son más que adornos; son testigos de historias, expresiones de
                                identidad y un tributo a la belleza de lo hecho a mano. Cada pieza cuenta una historia,
                                llevando consigo la esencia de tradiciones que perduran a lo largo del tiempo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-4 col-lg-4 order-lg-last">
                        <img class="img-fluid" src="{% static './img/girasoles.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Encuentra la Elegancia en la Artesanía</h1>
                            <p>
                                Descubre un mundo de elegancia y estilo en cada uno de nuestros diseños únicos. Desde
                                exquisitos collares y pulseras hasta delicados pendientes y anillos, ofrecemos un toque
                                de distinción que complementa tu personalidad y realza tu belleza.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
{% endblock %}