{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=|, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href='{% static "css/estilosHome.css" %}'>
    <link rel="stylesheet" href='{% static "css/fontawesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/animaciones.css" %}'>
    <script src='{% static "js/animaciones.js" %}'></script>
    <script src='{% static "js/bootstrap.bundle.min.js" %}'></script>
   <!-- <script src="static/js/jquery-1.11.0.min.js"></script>-->
   <!-- <script src="static/js/jquery-migrate-1.2.1.min.js"></script>-->
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'home' %}">
                Veta
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacion" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="barraNavegacion">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tienda' %}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disable" href="">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if user.is_authenticated %}
                <a class="d-inline-flex animacion-link align-self-center" href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a class="d-inline-flex navbar-brand animacion-link align-self-center" href="{% url 'login' %}">Iniciar Sesión</a>
                <a class="d-inline-flex navbar-brand logo text-success align-self-center" href="#">/</a>
                <a class="d-inline-flex animacion-link align-self-center" href="{% url 'registro' %}">Registro</a>
            {% endif %}
        </nav>
        </div>
        

    {% block content %}
    {% endblock %}
</body>
</html>