{% extends 'home/navBar.html' %}

{% block content %} 
{% load static %}
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">categorias</h1>
            <ul class="list-unstyled templatemo-accordion">
                {% for categoria in categorias %}
                    <li class="pb-3">
                        <a class="animacion-link justify-content-between h3" href="../filtrarProductos/{{categoria.id}}">
                            {{categoria.nombreTipo}}</a>
                    </li>
                {% endfor %}
                <li class="pb-3"></li>
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="../tienda/">
                        Limpiar Filtros</a>
                </li>
                
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                {% for producto in productos %}
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="{% static '' %}img/{{producto.imagen}}"
                                alt="girasoles">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <a class="btn btn-success text-white mt-2" href="./producto/{{producto.idProducto}}"><i
                                        class="far fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div clas="row align-self-center">
                                <div class="col align-items-center">
                                    <a href="shop-single.html" class="h3 text-decoration-none">{{producto.nomrbe}}</a>
                                </div>
                                
                            </div>
                            
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>{{producto.idTipoProducto.nombreTipo}}</li>
                            </ul>
                            <div class="col-auto align-items-center">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item"><span class="btn btn-success"
                                            id="btn-minus">-</span></li>
                                    <li class="list-inline-item"><span class="badge bg-secondary"
                                            id="var-value">1</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success"
                                            id="btn-plus">+</span></li>
                                </ul>
                            </div>
                            <div class="col d-grid">
                                <button type="submit" class="btn btn-success" name="submit"
                                    value="addtocard">Añadir al Carrito</button>
                            </div>
                            <p class="text-center mb-0">${{producto.presio}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}