{% extends 'loginRegistro/loginRegistro.html' %}

{% block content %}
<div class="card bg-glass">
    <div class="text-center">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(0, 0%, 100%)">
            <span style="color: #e79eff">Login</span>
        </h1>
    </div>
    <div class="card-body px-4 py-2 px-md-5">
        <form form action="" method="post">

            {% csrf_token %}

            {{ form.email.errors }}
            
            <div class="form-outline mb-4">
                <label class="form-label" for="id_email">Correo Electrónico</label>
                {{ form.email }}
            </div>
        
            {{ form.password.errors }}
            <div class="form-outline mb-4">
                <label class="form-label" for="id_password">Contraseña</label>
                {{ form.password }}
            </div>


            <div class="text-center">
                <button type="submit" class="btn btn-success btn-block mb-4">
                    Ingresar
                </button>
            </div>
            <div class="">
                <p>¿No tienes cuenta? <a class="animacion-link" href="{% url 'registro' %}">Puedes registrarte aqui</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% if mensaje %}
    <div id = "mensajeAlertas" class="alert alert-danger" role="alert">
        {{mensaje}}
    </div>
{% endif %}
{% endblock %}